{% extends 'acm/base.html' %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">ACM STUDENT CHAPTER, NCU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'acm:index' %}">Home</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'acm:team' %}">Our Team</a>
            </li>
            <li class="nav-item  px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'acm:upcoming' %}">Upcoming Events</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'acm:feedback' %}">Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}
{% block body_block %}


<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Feedback</h2>
                <hr>
                <form class="form-horizontal" enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small">{{field.errors}}</span>
                        </div>
                        <label class="control-label col-sm-2">{{field.label_tag}}</label>
                        <div class="col-sm-10">
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                    {{ form.media }}


                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
